<a href="https://colab.research.google.com/github/singhashmit05/python_learn/blob/main/session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")
print("hicsse 3")

hello
hicsse 3

In [ ]:
int a =10
print(a)

SyntaxError: invalid syntax (ipython-input-8-2145453920.py, line 1)

In [ ]:
a = 10

In [ ]:
print(a)

10

In [ ]:
mob_price=10000
print('value of mobile is:',mob_price)
type(mob_price)

value of mobile is: 10000

int

In [ ]:
MOBILE_NAME='IPHONE'
print(MOBILE_NAME)

IPHONE

In [ ]:
type(MOBILE_NAME)

str

In [ ]:
name=input('enter your name: ')
print(name)
type(name)

enter your name: ashmit
ashmit

str

In [ ]:
num1=int(input('enter firsr num  :'))
num2=int(input('enter second num :'))
num3=num1+num2
print(num3)

enter firsr num  :3
enter second num :3
6

In [ ]:
#conditional statements- if, elif , else
#syntax- if condition
num1=6
num2=3
if num1>num2:
    print('num1 is greater than num2')
elif num1==num2:
    print('num1 is equal to num2')
else:
    print('num1 is less than num2')

num1 is greater than num2

In [ ]:
num1=int(input('enter first number :'))
num2=int(input('enter second number :'))
if num1>num2:
    print('num1 is greater than num2')
elif num1==num2:
    print('num1 is equal to num2')
else:
     print('num1 is less than num2')

enter first number :12
enter second number :34
num1 is less than num2

In [ ]:
#pythonvariables
age=5
name= 'ashmit'
print('age od the boy is:',age)

age od the boy is: 5
name of the boy is: ashmit

In [ ]:

type(name)

str

In [ ]:
#input()
name=input('enter your name:')
print('my name is',name)

enter your name:
my name is

In [ ]:
num1=2(input('enter first number:'))
num2=(input('enter second number:'))
num3=num1+num2
print(num3)

enter first number:23
enter second number:3
233

In [ ]:
num1=6
num2=6
if num1>num2:
  print("num1 is greater")
elif num1==num2:
  print("equal")
else:
  print("num2 is greater")

equal

In [ ]:
#loops
msg=1
while(msg<6):
  print('hello')
  msg=msg+1

hello
hello
hello
hello
hello

In [ ]:
from typing_extensions import TYPE_CHECKING
printf(ashmit chutiya);
static void main
#include stdio.h
#madarchid
prinln(lodu);
elseif
TYPE_CHECKINGwhen
now
where
ThreadPoolExecutorhere
how

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-6-1924523279.py, line 1)